
.navbar-logo{
  margin-left: 20px;
  width: 40px;
  height: 30px;
}
.navbar{
  background-color: #070d59;
}
.navbar-nav{
  margin-left: auto;
}
.nav-link{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.nav-link:hover{
  color: white;

}
.side-nav-div{
  padding-top: 100px;
  padding-left: 18px;
  background-color: #1F3C88;
  background-image: linear-gradient(to right,#070d59 , #1F3C88);
  width: auto;
  overflow: scroll;
  position: fixed;
  display:inline-block;

  height: 700px;
  top: 0;
  /* z-index: 1; */

}
.row{
  margin-right: 0;
}
hr{
  border: 0.5px solid #c2c2c2;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25%;
}
.nav-link{
  /* display:inline-block; */
  word-wrap: break-word;
  font-size: 1em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 20px;
  /* display: inline-flex; */
}
#product-info-section{

  margin-left: 350px;
  /* display: inline-block; */
  position: relative;
  margin-top: 100px;
  width: auto;

}
.page-heading{
  padding: 10px 0 10px 10px;
  font-family: 'Bodoni Moda', serif;
  font-size: 3em;


}
.product-headings{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 10px 0 10px 10px;

}
#product-1{
  padding: 20px 0 20px 0;
}
#product-2{
  padding: 10px 0 10px 0;
}
#product-3{
  padding: 10px 0 10px 0;
}
.product-info{
  padding:10px 20px 10px 5px ;
}
.place-order-div{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.contact-us-buttons{
  background-color: #EE6F57;
  color: white;
  border-radius: 50px;
  border-width: 0;
  /* margin: 10px 10px 10px 20px; */
}
.btn{
  font-family: 'Montserrat', sans-serif;
  box-shadow: 1.5px 1.5px 2px black;
}

/* modal images */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  z-index: 1;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#footer{
  background-color: #070d59;
  height: auto;
  margin-top: 100px;
  padding: 50px 0 50px 0;
  font-family: 'Montserrat', sans-serif;

}
.footer-row{
  margin-left: 0;
  margin-right: 0;
}
.footer-links{
  text-decoration: none;
  color: white;
  margin: 20px 0 10px 0;
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: inherit;
}
.footer-links1{
  text-decoration: none;
  color: white;
  margin: 30px 0 30px 0;
  font-family: 'Montserrat', sans-serif;
  display: inline;
  width: inherit;
}
.footer-links:hover{
  color: #EE6F57;
}
.footer-links1:hover{
  color: #EE6F57;
}
.footer-contact-links{
  color:white;
  padding-top:10px;
  width: auto;
}
.footer-headings{
  color: white;
  padding: 10px 0 10px 0;
  font-size: 1.5em;

}
.footer-icons{
  font-size: 1.8em;
  padding: 0 10px 0 10px;
}
.footer-column-1{
  margin-left: 350px;
  /* padding-left: 350px;
    padding-right: 50px; */
    width: min-content;
}
.footer-column-2{
  padding-left: 15%;
  padding-right: 0;
  width: auto;

}
.footer-column-3{
  padding-left: 15%;
  width: auto;
}
.copyright-div{
  text-align: center;
  padding-top: 80px;
  padding-left: 180px;
}
.copyright{
  color: white;
  font-size: 0.9em;
}
.credits{
  color:#f6f5f5;
  font-size: 0.7em;
}
@media only screen and (max-width: 1300px){
  .footer-column-2{
    padding-left: 7%;

  }
  .footer-column-3{
    padding-left: 7%;
    width: min-content;

  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 990px){
  .side-nav-div{
    display: none;
  }
  #product-info-section{
    margin-left: 30px;
    margin-right: 30px;

  }
  #footer{
    background-color: #070d59;
    height: auto;
    margin-top: 50px;
    padding: 50px 0 50px 0;
    font-family: 'Montserrat', sans-serif;
    /* width: auto; */

  }
  .footer-column-1{
    padding-left: 30px;
    margin-left: 0px;
    width: auto;
    margin-right: 0;

    width: inherit;

  }
  .footer-column-2{

        width: auto;
        padding-left: 30px;
        padding-top: 50px;
  }
  .footer-column-3{
      padding-left: 30px;
        width: auto;
        padding-top: 50px;
  }
  .footer-row{
    margin-left: 0;
    margin-right: 0;
  }
  .product-headings{
    padding-left: 0;
  }
  .copyright-div{
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
  .nav-link{
    margin-left: 20px;
    font-size: 1.1em;
  }
  .page-heading{
    font-size: 2.2em;
    padding: 0;
  }
  .product-headings{
    font-size: 1.5em;
  }
}
